.bill-container {
  background-color: rgb(242 242 242);
  color: #000;
  margin: -20px;
  padding: 0;
}
.bill-header {
  color: #212529;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 500;
  grid-area: auto;
  line-height: 24px;
  padding: 24px;
}
.flexContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab {
  display: flex;
}
.flexEnd {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: 14px;
}
.bill-body {
  color: #000;
  padding: 24px;
  height: 100vh;
  overflow-y: scroll;

  .bill-title {
    .title-action {
      background-color: rgb(255 255 255);
      width: 199px;
      line-height: 24px;
      display: flex;
      flex-direction: column;
      padding: 5px;
      border-radius: 10px;
      height: 160px;

      .action-payment {
        padding: 5px;
        .payment-image {
        }
        .payment-title {
          color: rgb(24 119 242);
          font-size: 16px;
          font-weight: 700;
          line-height: 12px;
        }
      }
      .action-activity {
        .activity-image {
        }
        .activity-title {
          font-size: 16px;
          font-weight: 700;
          line-height: 12px;
          color: rgb(24, 119, 242);
        }
      }
    }
  }
}
