// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   margin: 0;
// }

.popup {
  overflow-y: auto; /* Kích hoạt thanh cuộn ngang */
  white-space: nowrap;
  background-color: #213e5f;
  padding: 20px;
  color: white;
  height: 100vh;
}

.popup-detail {
}
